body {
    background-color: #eed6ca;
}

@font-face {

    font-family: Byekan;
    src: url(../fonts/BYekan.ttf) format('ttf');
    src: url(../fonts/BYekan.woff) format('woff');
}

* {
    font-family: 'BYekan', Arial, sans-serif;
}

input{
    background-color: mintcream;
    border-radius: 5px;
    height: 50px;
}
textarea{
    background-color: mintcream;
    border-radius: 5px;
}

.Sub{
    font-size: large;
}

input:focus,
input:active {
  border-color: transparent;
  border-top: 2px solid crimson;
  border-bottom: 2px solid crimson;
  border-left: 2px solid crimson;
  border-right: 2px solid crimson;
}

@media only screen and (max-width: 600px) {
    table{
        width: auto;
        text-align: center;
    }
}

.buts{
    text-align: left;
}