body {
    background-color: #eed6ca;
}

@font-face {

    font-family: Byekan;
    src: url(fonts/BYekan.ttf) format('ttf');
    src: url(fonts/BYekan.woff) format('woff');
}

* {
    font-family: 'BYekan', Arial, sans-serif;
}

fieldset{
    margin-left: 450px;
    margin-right: 450px;
}
input{
    background-color: mintcream;
    border-radius: 5px;
}
textarea{
    background-color: mintcream;
    border-radius: 5px;
}
legend{
    text-align: center;
    font-weight: 600;
}

input:focus,
input:active {
  border-color: transparent;
  border-bottom: 2px solid #1c87c9;
}