<div class="footer">
    <div class="info">
            <div class="contact-us">
                    <h4>
                            ارتباط با ما
                    </h4>
                    <p>
                            شماره تماس: 09397579104
                    </p>
                    <p>
                            آدرس: زنجان - بلوار پرفسور یوسف ثبوتی - شماره 444
                    </p>
            </div>
            <div class="relatedSites footer-links">
                    <h4 class="links-title" style="    margin-right: -19%;margin-bottom: 4%; color: black;">
                            لینک های مرتبط
                    </h4>
                    <ul>
                            <li>
                                    <a href="https://www.zanbil.ir">زنبیل</a>
                            </li>
                            <li>
                                    <a href="https://www.digistyle.com">دیجی استایل</a>
                            </li>
                            <li>
                                    <a href="https://torob.com">ترب</a>
                            </li>
                            <li>
                                    <a href="https://www.amazon.com">آمازون</a>
                            </li>
                            <li>
                                    <a href="https://wwww.digikala.com">دیجیکالا</a>
                            </li>
                            <li>
                                    <a href="https://www.banimode.com">بانی مد</a>
                            </li>
                    </ul>
            </div>
    </div>
    <div class="socialMedia">
            <ul>
                    <li>
                            <a href="https://t.me/fatemesohraabi"><img src="Images/telegram.png"></a>
                    </li>
                    <li>
                            <a href="https://instagram.com/sohrabi__fateme?utm_medium=copy_link"><img
                                            src="Images/instagram.png"></a>
                    </li>
                    <li>
                            <a href="mailto:fatemesohrabi1379@gmail.com"><img src="Images/gmail.png"></a>
                    </li>
                    <li>
                            <a href="mailto:hadinasiri1385@yahoo.com"><img src="Images/yahoo.png"></a>
                    </li>
            </ul>
    </div>

</body>

</html>