<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shafagh Online Store</title>
        <link rel="stylesheet" type="text/css" href="css/store.css">
        <?php
        if (basename($_SERVER['PHP_SELF']) == 'Signin.php')
                echo '<link rel="stylesheet" href="css/SignInStyle.css" />';
        if (basename($_SERVER['PHP_SELF']) == 'Signup.php')
                echo '<link rel="stylesheet" href="css/SignUpStyle.css" />';
        if (basename($_SERVER['PHP_SELF']) == 'Profile.php')
                echo '<link rel="stylesheet" href="css/store.css" />';        
        ?>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
<script src="js/loaded.js"></script>
<script type="text/javascript">

        function f() {
         
          var value = document.getElementById("input").innerText;
          window.alert(document.getElementById("input").innerText);
          window.location.href = "Product.php?Pname="+value;
        }
    
    </script>
<body>
        <div class="navBar">
                <img src="Images/logo.png" class="logo">
                <ul class="StickyPosition">

                        <li><a href="Store.php"
                                       >خانه
                                        </a>
                        </li>
                        <li>
                                <a href="https://www.digikala.com/search/category-mobile-phone/"
                                        target="_blank">موبایل</a>
                                <ul>
                                        <li><a href="https://www.digikala.com/search/category-mobile-phone/?brand[0]=10&pageno=1&last_filter=brand&last_value=10&sortby=4"
                                                        target="_blank">اپل</a></li>
                                        <li><a href="https://www.digikala.com/search/category-mobile-phone/?brand[0]=18&pageno=1&last_filter=brand&last_value=18&sortby=4"
                                                        target="_blank">سامسونگ</a></li>
                                        <li><a href="https://www.digikala.com/search/category-mobile-phone/?brand[0]=82&pageno=1&last_filter=brand&last_value=82&sortby=4"
                                                        target="_blank">هواوی</a></li>
                                        <li><a href="https://www.digikala.com/search/category-mobile-phone/?brand[0]=1662&pageno=1&last_filter=brand&last_value=1662&sortby=4"
                                                        target="_blank">شیائومی</a></li>
                                </ul>
                        </li>
                        <li>
                                <a href="https://www.digikala.com/search/category-tablet/" target="_blank">تبلت</a>
                                <ul>
                                        <li><a href="https://www.digikala.com/search/category-tablet/?brand[0]=18&pageno=1&last_filter=brand&last_value=18&sortby=4"
                                                        target="_blank">سامسونگ</a></li>
                                        <li><a href="https://www.digikala.com/search/category-tablet/?brand[0]=10&pageno=1&last_filter=brand&last_value=10&sortby=4"
                                                        target="_blank">اپل</a></li>
                                        <li><a href="https://www.digikala.com/search/category-tablet/?brand[0]=51&pageno=1&last_filter=brand&last_value=51&sortby=4"
                                                        target="_blank">مایکروسافت</a></li>
                                        <li><a href="https://www.digikala.com/search/category-tablet/?brand[0]=94&pageno=1&last_filter=brand&last_value=94&sortby=4"
                                                        target="_blank">لنوو</a></li>
                                        <li><a href="https://www.digikala.com/search/category-tablet/?brand[0]=82&pageno=1&last_filter=brand&last_value=82&sortby=4"
                                                        target="_blank">هواوی</a></li>
                                </ul>
                        </li>
                        <li>
                                <a href="https://www.digikala.com/search/category-headphone-headset-microphone/"
                                        target="_blank">هدست</a>
                                <ul>
                                        <li><a href="https://www.digikala.com/search/category-headphone-headset-microphone/?brand[0]=18&pageno=1&last_filter=brand&last_value=18&sortby=4"
                                                        target="_blank">سامسونگ</a></li>
                                        <li><a href="https://www.digikala.com/search/category-headphone-headset-microphone/?brand[0]=10&pageno=1&last_filter=brand&last_value=10&sortby=4"
                                                        target="_blank">اپل</a></li>
                                        <li><a href="https://www.digikala.com/search/category-headphone-headset-microphone/?brand[0]=1662&pageno=1&last_filter=brand&last_value=1662&sortby=4"
                                                        target="_blank">شیائومی</a></li>
                                        <li><a href="https://www.digikala.com/search/category-headphone-headset-microphone/?brand[0]=94&pageno=1&last_filter=brand&last_value=94&sortby=4"
                                                        target="_blank">لنوو</a></li>
                                        <li><a href="https://www.digikala.com/search/category-headphone-headset-microphone/?brand[0]=56&pageno=1&last_filter=brand&last_value=94&sortby=4"
                                                        target="_blank">تسکو</a></li>
                                        <li><a href="https://www.digikala.com/search/category-headphone-headset-microphone/?brand[0]=6548&pageno=1&last_filter=brand&last_value=6548&sortby=4"
                                                        target="_blank">کیو سی وای</a></li>
                                        <li><a href="https://www.digikala.com/search/category-headphone-headset-microphone/?brand[0]=1096&pageno=1&last_filter=brand&last_value=1096&sortby=4"
                                                        target="_blank">جی بی ال</a></li>
                                </ul>
                        </li>
                        <li class="last-item">
                                <a href="https://www.digikala.com/search/category-usb-flash-memory/"
                                        target="_blank">فلش</a>
                                <ul>
                                        <li><a href="https://www.digikala.com/search/category-usb-flash-memory/?brand[0]=61&pageno=1&last_filter=brand&last_value=61&sortby=4"
                                                        target="_blank">ای دیتا</a></li>
                                        <li><a href="https://www.digikala.com/search/category-usb-flash-memory/?brand[0]=63&pageno=1&last_filter=brand&last_value=61&sortby=4"
                                                        target="_blank">سن دیسک</a></li>
                                        <li><a href="https://www.digikala.com/search/category-usb-flash-memory/?brand[0]=83&pageno=1&last_filter=brand&last_value=63&sortby=4"
                                                        target="_blank">سیلیکون پاور</a></li>
                                        <li><a href="https://www.digikala.com/search/category-usb-flash-memory/?brand[0]=6&pageno=1&last_filter=brand&last_value=83&sortby=4"
                                                        target="_blank">اچ پی</a></li>
                                </ul>
                        </li>
                </ul>
                <a href="Profile.php">
                        <img class="s-icon" src="Images/sh-cart.svg">
                </a>
                <a href="Profile.php"
                        >
                        <img class="l-icon" src="Images/user-logo.svg">
                </a>

        </div>