<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/SignInStyle.css">
    <title>ورود</title>
</head>

<body>
    <form action="Signin.php" method="post">

        <table width="550" border-radius="5px" align="center">
            <tr>
                <td colspan="2" align="center">
                    <img src="Images/logo.png">
                </td>


            </tr>

            <tr>
                <span><?php echo $Message; ?></span>
                <td width="150" align="left">
                    نام کاربری :
                </td>
                <td>
                    <input type="text" maxlength="20" size="65" placeholder="نام کاربری خود را وارد کنید"
                        name="uiUserName"
                        onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || 
                            (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" required>
                </td>
            </tr>

            <tr>
                <td width="150" align="left">
                    کلمه عبور :
                </td>
                <td>
                    <input type="PassWord" size="65" placeholder="کلمه عبور خود را وارد کنید" name="uiPassWord"
                        required>
                </td>
            </tr>

            <tr>
                <td colspan="2" align="left">
                    <input type="submit" class="Sub" value="ورود" name="submit" style=" width: 165px; ">
                    <a href="signup.php"><input type="button" class="Sub" value="ثبت نام" name="sUp" style=" width: 165px; margin-left: 34px; margin-top: 10px;"></a>
                </td>
            </tr>

        </table>

    </form>
</body>

</html>