
<div method="post" ng-app="myApp" ng-controller="myController">
                <div class="product" ng-repeat="x in products" ng-click="f(x.ProdName)" >
                
                                <div class="prod-title"> 
                                        <a>
                                                <img class="prod-img" alt="{{x.Pname}}" ng-src="{{x.Pic}}">
                                        </a>
                                        
                                        <p class="prod-title">{{x.ProdName}}</p>
                                        <p><u>{{x.Price}} تـومـان</u></p>
                                </div> 
                        
                </div>  
</div>        
